:root {
    --bg-color-body: #fafafa;
    --bg-color-form: #ffffff;
    --bg-color-input: #fafafa;
    --br-color-input: #eeeeee;
    --br-color-input-focus: #7cb8ff;
    --main-on-surface: #414141;
    
    --br-color-error-input: #f0aaaa;
    --text-color-error-input: #eb6565;

    --button-green-color-font: #e8fcfc;
    --button-green-color-border: #2cba8f;
    --button-green-color-bg: #2cba8f;
}

