.l-main{
    margin: 0;
    padding: 0;
    min-width: 1000px;
    &_header{
        margin: 0 !important;
        border-bottom: 1px solid #e5e5e5;
        min-height: 8vh;
    }
    .c-header{
        &_buttons{
            button{
                background-color: #ffffff;
                border: none;
                padding-bottom: 16px;
                outline: none;
                margin-right: 10px;
                img{
                    margin-top: -2px;
                }
            }
        }
        &_view{
            img{
                cursor: pointer;
            }
        }
        &_wrapper{
            border-bottom: 2px solid silver;
            padding: 2.4px;
            height: 24px;
            svg{
                cursor: pointer;
            }
        }
        &_wrapper--active{
            border-color: #2ba6de;
        }
    }
    &_table{
        .main-table{
            &_iconfolder{
                padding-right: 20px;
            }
            &_iconfile{   
                margin-left: 2px;
                padding-right: 20px;
            }
            &_heart{
                margin-left: -2px;
            }
            &_favorite{
                cursor: pointer;
            }

        }
    }
    &_data{
        height: 86vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    &_data::-webkit-scrollbar{
        background-color: #e5e5e5;
        padding: 1px;
        width: 10px;
    }
    &_data::-webkit-scrollbar-thumb{
        background-color:  #737373;
        border-radius: 20px;
    }
    &_data--bar{
        height: calc(86vh - 65px);
    }
    &_contextmenu-main{
        background-color: #ffffff;
        box-shadow: 0px 2px 9px 3px rgb(225, 225, 225);
        border-radius: 10px;
        position: absolute;
        .contextmenu-main{
            &_block{
                border-bottom: 1px solid #eeeeee;
                color: #707070;
                cursor: pointer;
                padding: 0.4rem;
                letter-spacing: 0.5;
            }
            &_selection{
                padding: 0.4rem;
            }
            &_selection:hover{
                transition: all 0.7s;
                background-color: #f2f2f2;
            }
        }
    }
 
    &_new-modal-fd{
        min-height: 31.5vh;
        width: 410px;
        margin-left: 2.2rem;
        .new-modal-fd{
            &_header{
                border: none;
            }
            &_body{
                padding-top: 0.6rem;
                padding-left: 1.9rem !important;
                padding-right: 1.9rem !important;
                h5{
                    color: #4c4c4c;
                    margin-top: -15px !important;
                }
            }
            &_input{
                border: none;
                box-shadow: 0px 0px 0px 1px rgba(238, 238, 238);
                background-color: #fafafa;
                border-radius: 0.1rem;
                color: #aaaaaa;
                height: 4.6vh
            }
            &_input:focus{
                box-shadow: 0px 0px 0px 1px rgb(43, 166, 222);
            }
            &_input:hover{
                transition: all 0.5s;
                box-shadow: 0px 0px 0px 1px rgb(43, 166, 222);
            }
            &_input--error{
                box-shadow: 0px 0px 0px 1px rgb(255, 51, 58);
                color: rgb(255, 51, 58);
            }
            &_exit{
                border: 3px solid #e4e4e4;
                border-radius: 0.3rem;
                background: -webkit-linear-gradient(135deg, rgb(253, 253, 253) 73%, rgb(244, 244, 244));
                background: -moz-linear-gradient(135deg, rgb(253, 253, 253) 73%, rgb(244, 244, 244));
                background: linear-gradient(135deg, rgb(253, 253, 253) 73%, rgb(244, 244, 244));
                color: #333333;
                width: 5rem;
                height: 2.3rem;
                font-size: 1rem;
            }
            &_exit:hover{
                transition: 0.3s all;
                background: -webkit-linear-gradient(180deg, rgb(241, 241, 241) 74%, rgb(240, 240, 240) 89%);
                background: -moz-linear-gradient(180deg, rgb(241, 241, 241) 74%, rgb(240, 240, 240) 89%);
                background: linear-gradient(180deg, rgb(241, 241, 241) 74%, rgb(240, 240, 240) 89%);    
            }
            &_create{
                border: 3px solid #35c6a0;
                border-radius: 0.3rem;
                background: -webkit-linear-gradient(135deg, rgb(59, 212, 173) 80%, rgb(28, 210, 147));
                background: -moz-linear-gradient(135deg, rgb(59, 212, 173) 80%, rgb(28, 210, 147));
                background: linear-gradient(135deg, rgb(59, 212, 173) 80%, rgb(28, 210, 147));
                color: #f2ffff;
                width: 5rem;
                height: 2.3rem;
                font-size: 1rem;
            }   
            &_create:hover{
                transition: 0.3s all;
                background: -webkit-linear-gradient(180deg, rgb(59, 209, 171) 1%, rgb(34, 182, 132) 94%);
                background: -moz-linear-gradient(180deg, rgb(59, 209, 171) 1%, rgb(34, 182, 132) 94%);
                background: linear-gradient(180deg, rgb(59, 209, 171) 1%, rgb(34, 182, 132) 94%);
            }
            &_error{
                background-color: #ffebeb;
                border-radius: 2px;
                padding: 0.1rem;
                padding-left: 0.5rem;
                width: 100%;
                box-shadow: 0px 0px 0px 1px rgb(255, 51, 58);
                color: #ff333a;
            }
        }
    }

}