.c-navbar{
    display: flex;
    justify-content: flex-end;
    background-color: #e5e5e5;
    min-width: 210px;
    height: 100vh !important;
    max-height: 100vh;
    &_nav{
        height: 90vh;
        .c-nav{ 
            &_item{
                align-items: center;
                border-radius: 4px;
                box-shadow: 2px 2px 2px 0px rgb(225, 225, 225);
                cursor: pointer;
                display: flex;
                padding: 2.8px;
                width: 100%;
                font-size: 1.05rem;
                margin-bottom: 0.3rem;
                svg{
                    display: block;
                    margin-top: 0px;
                }
                color: #2e2e2e;
                text-decoration: none;
            }
            &_arrow{
                margin-top: -3px !important;
            }
            &_icon{
                margin-top: -3px !important;
            }
            &_item:hover{
                transition: 0.7s all;
                background-color: #f6f5f6;
            }
        }
        .router-link-active{
            background-color: #fafafa !important;
        }
    }
    &_memory{
        border-top: 2px solid #ffffff;
        padding-top: 2vh;
        width: 100%;
        margin-right: -2rem;
        .с-memory{
            &_progress{
                background-color: #bebebe;
                margin: auto;
                width: 92%;
                height: 0.3rem;
            }
            &_progressbar{
                width: 92%;
                height: 0.3rem;
                background-color: #4dbfa5;
            }
            &_text{
               padding-left: 4%;
               span{
                   color: #4dbfa5;
               }
            }
        }
    }
    &_border{
        cursor: w-resize;
        z-index: 10000;
        width: 0.2rem;
        height: 100vh;
    }
}